## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 200
application_types_to_replace = application_type_counts[application_type_counts<cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1000
classifications_to_replace = classification_counts[classification_counts<cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [83]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=69, activation="sigmoid", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="tanh"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_19"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_60 (Dense)            (None, 69)                3036

 dense_61 (Dense)            (None, 80)                5600

 dense_62 (Dense)            (None, 80)                6480

 dense_63 (Dense)            (None, 80)                6480

 dense_64 (Dense)            (None, 1)                 81

=================================================================
Total params: 21,677
Trainable params: 21,677
Non-trainable params: 0
_________________________________________________________________

In [84]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [85]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5866 - accuracy: 0.7052
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5616 - accuracy: 0.7271
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5575 - accuracy: 0.7269
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7285
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7294
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7310
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5526 - accuracy: 0.7304
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5517 - accuracy: 0.7322
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7309
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7315
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7313
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7328
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7331
Epoch 14/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5488 - accuracy: 0.7324
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7336
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7331
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7341
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7337
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7341
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7343
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5458 - accuracy: 0.7346
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7334
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7351
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7342
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7338
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7357
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7343
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7353
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7348
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7346
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7357
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7368
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7358
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5426 - accuracy: 0.7364
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7358
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7356
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7368
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7363
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7368
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7364
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5415 - accuracy: 0.7371
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7373
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7358
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7370
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7372
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7373
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7375
Epoch 48/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5398 - accuracy: 0.7378
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7377
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7379

In [86]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5530 - accuracy: 0.7304 - 463ms/epoch - 2ms/step
Loss: 0.5530203580856323, Accuracy: 0.7303789854049683

In [87]:
# Export our model to HDF5 file
nn.save_weights('AlphabetSoupCharity_Optimization.h5')